<div>
  <%= flash[:notice] %>
</div>

<div class="show-book-title">
  <strong>
    Title:  
  </strong>
  <%= @book.title %>
</div>

<div class="show-book-body">
  <strong>
    Body:  
  </strong>
  <%= @book.body %>
</div>

  <a class="edit-link">
   <%= link_to 'Edit', edit_book_path(@book.id) %>
  </a>

  <a class="back-link">
   <%= link_to 'Back', books_path %>
  </a>
